<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <!-- <mapper namespace="mapper1"> --> 
<mapper namespace="kr.hyunnn.shop1.Manager.repository.IManagerDAO">

	<resultMap id="ResultMap1" type="CategoryVO">
		<id property="categoryId" column="category_id" />
		<result property="category" column ="category"/>
	</resultMap>
	
	<resultMap id="ResultMap2" type="CompanyVO">
		<id property="companyId" column="company_id" />
		<result property="category" column ="category"/>
		<result property="companyName" column ="company_name"/>	
	</resultMap>
	
	<resultMap id="ResultMap3" type="ProductVO">
		<id property="productId" column="product_id" />
		<result property="productName" column ="product_name"/>
		<result property="price" column ="price"/>	
		<result property="regDate" column ="reg_date"/>
		<result property="category" column ="category"/>
		<result property="companyName" column ="company_name"/>
		<result property="thumNail" column ="thumnail"/>
		<result property="explain1" column ="explain1"/>
		<result property="explain2" column ="explain2"/>
		<result property="recommend" column ="recommend"/>
		
	</resultMap>

	<select id="selectCategory" resultMap="ResultMap1">
		select * from product_category
	</select>
	
	<select id="selectCompany" resultMap="ResultMap2">
		select * from company 
		where category=#{category}
	</select>
	
	<insert id="productInsert">
		insert into product(product_name,price,category,company_name,explain1,explain2,thumnail) values
		(#{productName},#{price},#{category},#{companyName},#{explain1},#{explain2},#{thumNail})
	</insert>
		
	<select id="countProducts" resultType="int">
		select count(*) from product
		<include refid="search"/> 
		
	</select>
	
	<select id="productList" parameterType="java.util.Map" resultMap="ResultMap3">
		select tt.* from 
		(select @ROWNUM:=@ROWNUM+1 as NUM, a.* 
		from product a,(select @ROWNUM:=0) b <include refid="search"/> 
		<include refid="alignment"/>) tt
		<![CDATA[WHERE NUM>=#{startRow} and NUM<=#{endRow}]]>
	</select>
	
	<sql id="alignment">
		<if test="align==''">
			order by product_id DESC
		</if> 
		<if test="align!=''">   
			<if test="align=='priceDesc'">
				order by price DESC
			</if>
			<if test="align=='priceAsc'">
				order by price ASC
			</if>
			<if test="align=='regDateAsc'">
				order by reg_date ASC
			</if>
			<if test="align=='regDateDesc'">
				order by reg_date DESC
			</if>
			<if test="align=='recommend'">
				order by recommend DESC
			</if>
		</if>
	</sql>
	
	<sql id="search">
		<if test="condition==''">
			where category=#{category}
		</if>
		<if test="condition !='' and category !=''">
			<if test="condition=='productName'">
				where category=#{category} and product_name like CONCAT('%',#{keyword},'%')
			</if>
			<if test="condition=='companyName'">
				where category=#{category} and company_name like CONCAT('%',#{keyword},'%')
			</if>
		</if>
		<if test="condition !='' and category ==''">
			<if test="condition=='productName'">
				where product_name like CONCAT('%',#{keyword},'%')
			</if>
			<if test="condition=='companyName'">
				where company_name like CONCAT('%',#{keyword},'%')
			</if>
		</if>
	</sql>
	
	<update id="productUpdate">
		update product 
		set 
		product_name=#{productName},
		price=#{price},
		reg_date=now(),
		explain1=#{explain1},
		explain2=#{explain2}<include refid="thum"/>
		where product_id=#{productId}
	</update>
	
	<sql id="thum">
		<if test="thumNail !='' ">
			,thumnail=#{thumNail}
		</if>
	</sql>
	
	<delete id="productDelete">
		delete from product 
		where product_id=#{productId}
	</delete>

	
	<select id="getRecommendProduct11" resultMap="ResultMap3">
		select * from product
		where category=#{category} and recommend=1
	</select>
	<select id="getRecommendProduct" resultMap="ResultMap3">
		select * from product
		where recommend=1
	</select>
	
	<select id="recommendedList" parameterType="String" resultType="int">
		select product_id from product where recommend=1 and category=#{category}
	</select>
	
	<update id="recommendInit">
		update product set recommend=0 where category=#{category}
	</update>
	<update id="recommendUpdate" parameterType="int">
		update product set recommend=1 where product_id=#{productId}
	</update>
	<update id="recommendDelete">
		update product set recommend=0 where product_id=#{productId}
	</update>
	
	


</mapper>