<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="kr.hyunnn.shop1.order.repository.IOrderDAO">

<insert id="addOrder" parameterType="java.util.Map">
		insert into orders(user_id,product_id,count) 
		values
		(#{userId},#{productId},#{count});
	</insert>
	
</mapper>