<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="kr.hyunnn.shop1.product.repository.IProductDAO">
    <resultMap id="ResultMap1" type="ProductVO">
		<id property="productId" column="product_id" />
		<result property="productName" column ="product_name"/>
		<result property="price" column ="price"/>	
		<result property="regDate" column ="reg_date"/>
		<result property="category" column ="category"/>
		<result property="companyName" column ="company_name"/>
		<result property="thumNail" column ="thumnail"/>
		<result property="explain1" column ="explain1"/>
		<result property="explain2" column ="explain2"/>
		<result property="recommend" column ="recommend"/>
		
	</resultMap>
	<select id="productDetail" parameterType="int" resultMap="ResultMap1">
		select * from product where product_id=#{productId}
	</select>
	 
    
</mapper>