@media screen and (max-width: 1120px){
    /* 1100짜리 width100%로 */
    #hd_content1 #content_inner {
        width:95%;
        margin:auto;
    }
    #hd_content2 #content_inner {
        width:95%;
        margin:auto;
    }
    #events {
        width:95%;
        margin:auto;
        margin-top:50px;
    }
    #sns {
        width:100%;
    }
    footer section{
        width:100%;    
    }
    #img_row li span {
        display: inline;
        color:white;
    }
 
}

@media screen and (max-width: 961px){
    /* menu 버튼화 */
    #hd_content1 h3 {
        width:40%;
    }
    #hd_content1 ul:nth-of-type(2) li {
        width:30px;
        height:30px;
    }
    #hd_content1 ul:nth-of-type(2) li:nth-of-type(1),
    #hd_content1 ul:nth-of-type(2) li:nth-of-type(2){
        display:block;
    }
   
    #hd_content1 ul:nth-of-type(2) img {
        display: inline;
    }
    #hd_content1 ul:nth-of-type(2) span {
        display: none;
    }
    
    #hd_content2 ul:nth-of-type(1) {
        display:none;
    }
    #hd_content2 ul:nth-of-type(2) {
        width:100%;
    }
    #hd_content2 ul:nth-of-type(2) li{
        width:20%;
        
    }
    #hd_content2 ul:nth-of-type(2) a{
        font-size: 15px;
        line-height: 3;
    }
    #slide {
    	height:0;
    	padding-top:100%;
    }
    #slide .imgs:nth-of-type(1)::before {
        background: url(/shop1/resources/images/mobile_slide_01.gif) no-repeat;
        background-size : 100% 100%;
    }
    #slide .imgs:nth-of-type(1)::after {
        background: url(/shop1/resources/images/mobile_slide_01.gif) no-repeat;
        background-size : 100% 100%;
    }
    #slide .imgs:nth-of-type(2)::before {
        background: url(/shop1/resources/images/mobile_slide3_02.gif) no-repeat;
        background-size : 100% 100%;
    }
    #slide .imgs:nth-of-type(2)::after {
        background: url(/shop1/resources/images/mobile_slide3_02.gif) no-repeat;
        background-size : 100% 100%;
    }
    #slide .imgs:nth-of-type(3)::before {
        background: url(/shop1/resources/images/mobile_slide2_03.gif) no-repeat;
        background-size : 100% 100%;
    }
    #slide .imgs:nth-of-type(3)::after {
        background: url(/shop1/resources/images/mobile_slide2_03.gif) no-repeat;
        background-size : 100% 100%;
    }
    #events #inner li:nth-of-type(1) {
        display :none;
    }
    #events #inner span:last-of-type {
        bottom:0%;
        left:0%;
    }
   	#events #inner li:nth-of-type(2) 
   	{
   		width:40%;
   	}
    #scroll_img1 {
        background: url("/shop1/resources/images/mobile_back_02.jpg");
        background-size : 100% 100%;
        /* background-attachment:fixed; */
    }
    .circle_section{   
        width: 300px;
        height: 300px;  
    }
     #cartListContainer {
 		width:97%; max-width:960px;
 	}
 	#productMa thead {
 		display:none;
 	}
 	#productMa .productList tr {
 		border-top: 1px solid black;
 	}
 	#productMa .productList td {
 		display:block;
 		width:50%;
 		position:relative;
 		float:left;
 		border-right:1px solid #dee2e6;
 	}
 	#productMa .productList td span {
 		display:inline-block;
 	}
 	#productMa .productList td:nth-of-type(1) {
 		width:10%;
 	}
 	#productMa .productList td:nth-of-type(2) {
 		width:40%;
 	}
 	#productMa .productList td:nth-of-type(3) {
 		width:50%;
 	}
 	#productMa .productList td:nth-of-type(8) {
 		width:100%;
 	}
}


@media screen and (max-width: 768px){
	
	#signUpForm legend {
		display :none;
	}
	#productDetailContainer {
		max-width:768px;
		width:90%;
	}
	#productDetailContainer .row label{
		width:20%;
	}
	#productDetailContainer .row input{
		width:10%;
	}
	#productDetailContainer .row .btn-group{
		width:15%;
	}
	#productDetailContainer #review #headline .row div:nth-of-type(1) {
		width:50%;
	}
	#productDetailContainer #review #headline .row div:nth-of-type(2) {
		width:20%;
	}
	#productDetailContainer #review #headline .row div:nth-of-type(3) {
		width:30%;
	}
	#productDetailContainer #review #reviewsList .row div:nth-of-type(1) {
		width:50%;
	}
	#productDetailContainer #review #reviewsList .row div:nth-of-type(2) {
		width:20%;
	}
	#productDetailContainer #review #reviewsList .row div:nth-of-type(3) {
		width:30%;
	}
	#cartListContainer{
		width:97%;
		max-width: 768px;
	}
	#cartListContainer #cartListheader {
		display:none;
	}
	#cartListContainer #cartLists .item-rows li {
		 transform:translateY(0);
	}
	#cartListContainer #cartLists .item-rows li:nth-of-type(1) {
	    top: 0%;
	    
	}
	#cartListContainer #cartLists .item-rows li:nth-of-type(2){
	 	left:150px;
		bottom:0%
	}
	#cartListContainer #cartLists .item-rows li:nth-of-type(3){
		 right:0;
		top : 0%;
	}
	#cartListContainer #cartLists .item-rows li:nth-of-type(4){
		 
		bottom:0%;
	}
	#userInfo {
		max-width:768px;
		width:90%;
		min-height:600px;
		margin-top:15px;
	}
	#userInfo legend, #productMa legend{
		text-align: left !important;
	}
	#userInfo legend strong, #productMa legend strong{
	 	border-bottom:1px solid #75675c; font-size:18px;
	}
	#userInfo aside, #productMa aside {
		width:100%;
		height:50px;
	}
	#userInfo aside li, #productMa aside li {
		float:left;
		width:33.33%
	}
	#userInfo content, #productMa content {
		width:100%;
		left:0;
		top:90px;
	}
	#productMa content {
		margin-top: 30px;
	}
	#productListContainer #sort{
		width:20%;
		margin-left:0;
	}
	#productListContainer #search-group {
		width:80%;;
	}
	.circle_section{   
        width: 250px;
        height: 250px;  
    }
    #order_container {
    	max-width:768px;
    	width:90%;
    	margin:auto;
    }
}

@media screen and (max-width: 650px){
  
    header {
        /* height: 15vh; */
        height:auto;
    }
    #hd_content1{
        height:100%;
    }
    #hd_content1 #content_inner #searchBar {
    	padding-bottom:26px;
    }
     #hd_content1 #content_inner #searchBar div {
     	display:none;
     }
    #hd_content1 #menuBtn{
        display:block;
        /* position: absolute;
        z-index: 3;
        right: 0;
        top: 50%;
        transform: translateY(-50%); */
    }
    #hd_content1 ul:nth-of-type(2){
        /* display:none; */
    }
    #hd_content1 #content_inner{
        /* height:100%; */
        height:65px;
    }
    #hd_content1 #content_inner h3{
        display:none;
    }
    #hd_content1 ul:nth-of-type(2) li {
        /* width: 3.5vh;
        height: 3.5vh; */
    }
    #hd_content1 ul:nth-of-type(2) li:nth-of-type(1){
   		display:none;
    }
    #hd_content2 {
        display:none;
    }
    #slide {
        height:auto;
        padding-top:100%; 
    }
    #slide > span:nth-of-type(1){
        /*bottom:50%;*/
        left:1%;
    }
    #slide > span:nth-of-type(2){
        /*bottom:50%;*/
        right:1%;
    }
    #slide > span > img {
    	width:25px;
    }
    #slide > span:hover img{
		width:27px;
	}
    #events {
        margin-top:15px;
        
    }
    #events #inner li:nth-of-type(2){
        width:100%;
        height: 50%;
       
    }
    #events #inner li:nth-of-type(3){
        width:100%;
        height:50%;
        text-align:center;
    }
    #events #inner li:nth-of-type(3) dl {
    	width:100%;
    	margin:auto;
    }
    #events #inner span:last-of-type {
        bottom: auto;
        right:1%;
        left: auto;
        top:7%;
    }
   	#recommand_area {
    	padding-top: 160%;
	}
    #events .card_events li{
        width:48%;
        
    }
    #events .card_events li dt:nth-of-type(1) {
    	 
    }
    #events .dots {
    	 
    }
    #scroll_img1 .circle_section {
        display: none;
    }
    #scroll_img1 .span_section {
        display: block;
    }
    #sns {
        
    }
    #sns ul{
        width:80%;
        /* height:70%; */
    }
    /*#sns li {
        width:12vh;
        height:12vh;
    }*/
    
    
    footer section p {
        width:100%;
    }
    footer section p span {
        display: block;
    }
    #img_row li a{
        width:100%;
    }
    #img_row li span {
        display:none;
    }
    #cartListContainer .item-rows li:nth-of-type(2){
		text-align:left;
		width:35%;
	}
	#order_container .card:nth-of-type(1) table thead{
		display:none;
	}
	#order_container .card:nth-of-type(1) table tr{
		position:relative;
	}
	#order_container .card:nth-of-type(1) table tr td{
		display:inline-block;
	}
	#order_container .card:nth-of-type(1) table tr td span{
		display:inline-block !important;
		padding:10px 0;
	}
	#order_container .card:nth-of-type(1) table tr td:nth-of-type(1){
		position:absolute;
		width:100px;
		left:0;
	}
	#order_container .card:nth-of-type(1) table tr td:nth-of-type(2){
	
		width: 100%;
		 
		padding-left: 105px;
	}
	#order_container .card:nth-of-type(1) table tr td:nth-of-type(3){
	
		width: 100%;
		 
		padding-left: 105px;
	}
	#order_container .card:nth-of-type(1) table tr td:nth-of-type(4){
	
		width: 50%;
		 
		padding-left: 105px;
	}
	
	
}

@media screen and (max-width: 530px){
	#recommand_area {
    	padding-top: 190%;
	}
	#scroll_img1 {
   
    padding-top: 70%;
	}
	#scroll_img1 .span_section p, a
	{
		font-size:14px;
	}
	#productDetailContainer {
		max-width:530px;
		width:90%;
	}
	#productDetailContainer .row label{
		width:48%;
	}
	#productDetailContainer .row input{
		width:10%;
	}
	#productDetailContainer .row .btn-group{
		width:15%;
	}
	#productDetailContainer #review #headline {
		display:none;
	 	 
	}

	#productDetailContainer #review #reviewsList .row div:nth-of-type(1) {
		width:100%;
	}
	#productDetailContainer #review #reviewsList .row div:nth-of-type(2) {
		width:100%;
		text-align:right !important;
	}
	#productDetailContainer #review #reviewsList .row div:nth-of-type(3) {
		display:none;		
	}
    #productDetailContainer #review .reviewDate{
    	display:block !important;
    }
	#cartListContainer #cartLists .item-rows span {
		padding:18px 0;
		width:100px;
	}
	#cartListContainer #cartLists .item-rows {
	height: 133px;
	
	}
	#cartListContainer #cartLists .item-rows ul {
		 
	}
	#cartListContainer #cartLists .item-rows li:nth-of-type(1) {
		  
		 left:130px;
	}
	#cartListContainer #cartLists .item-rows li:nth-of-type(2) {
		 top:33px;
		 bottom:auto;
		 left:130px;
	}
	#cartListContainer #cartLists .item-rows li:nth-of-type(3) {
		 top:auto;
		 bottom:33px;
		 right:auto;
		 left:130px;
	}
	#cartListContainer #cartLists .item-rows li:nth-of-type(4) {
		 right:auto;
		 top:auto;
		 left:130px;
	}

	#cartListContainer .item-rows ul li:nth-of-type(1) a{
		font-size:16px;
	}
 
	 #sns ul {
        width:100%;
    }
	#sns li img {
		width:70%;
	}
	 #signUpContainer {
        width:80%;
    }
    #productMa .productList td:nth-of-type(4) {
    	width:100%;
    }
    #productMa .productList td:nth-of-type(7) {
    	width:100%;
    }
    #productMa .productList td span {
    	width:60px;
    }
}